.cards {
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  margin-top: -30px;
  background-image: linear-gradient(
    25deg,
    #f5f5f5 25%,
    #0000 25%,
    #0000 50%,
    #ffffff26 50%,
    #ffffff26 75%,
    #0000 75%,
    #0000
  );
}

.card--freeze > .card__imgWrapper {
  box-shadow: none;
  margin: 0;
}
.card--freeze > .card__imgWrapper:hover,
.card--freeze > .card__imgWrapper:focus {
  outline: none;
}

.card {
  margin: 40px;
  width: 180px;
  height: 150px;
  position: relative;
  display: inline-block;
}

.card--freeze {
  margin: 0;
  height: auto;
  margin-right: 40px;
}

.card__imgWrapper {
  display: block;
  height: 132px;
  margin-bottom: 12px;
  background-position: center;
  background-size: cover;
  transition: filter 0.3s;
  background-color: var(--darkest);
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);
}
.card__imgWrapper:hover,
.card__imgWrapper:focus {
  outline: 3px solid var(--darkest);
}
.card__link {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--darkest);
  display: block;
  text-align: center;
}
.card__subtitle {
  font-size: 0.8rem;
  color: var(--grey);
  font-weight: 400;
  text-align: center;
  display: block;
}
