.topics {
  display: flex;
  flex-wrap: wrap;
}

.topic {
  background: var(--flashy);
  text-align: center;
  padding: 1rem;
  display: inline-block;
  flex: 1;
  font-size: 2rem;
  font-family: 'Montserrat';
  font-weight: 900;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.topic:nth-child(2n) {
  background: var(--flashy-alt);
}

.topic::before {
  content: '#';
}
