.highlight {
  --HEADER-HEIGHT: 5rem;

  height: 100%;
  background: url('/assets/img/events/bestofweb-large.jpg') bottom center
    no-repeat / cover;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.top::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.top__inner {
  position: absolute;
  width: 100%;
  bottom: 15%;
}

.pretitle {
  color: var(--flashy);
  font-size: 2rem;
  margin: 0;
}

.title {
  color: white;
  font-size: 4rem;
  margin-bottom: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  color: #999;
  font-size: 2rem;
  margin: 0;
}
