.pin {
  --SIZE: 3rem;
  width: var(--SIZE);
  height: var(--SIZE);
  position: absolute;
  top: 0;
  left: 0;
  background: var(--flashy);
  z-index: 2;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pin:hover {
  width: 100%;
  height: 100%;
}

.pin > i {
  color: white;
}
